body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background: linear-gradient(to right, #333, #444);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.converter {
    background-color: #fff;
    border: 2px solid #444;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.converter:hover {
    transform: translateY(-5px);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #444;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

input {
    padding: 0.8rem;
    margin-right: 0.5rem;
    border: 2px solid #666;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 150px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #555;
}

select {
    padding: 0.6rem;
    border: 2px solid #666;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

select:focus {
    outline: none;
    border-color: #555;
}

button {
    padding: 0.8rem 1.5rem;
    background: linear-gradient(to right, #333, #444);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #444, #555);
}

p {
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    input, select, button {
        width: 100%;
        margin-bottom: 1rem;
    }
}
